#loginContainer {
    background-color: #95bb8c;
    padding: 50px;
    padding-bottom: 240px;    
}

header {
    font-family: 'Alata', sans-serif;
    margin-bottom: 30px;
    border-radius: 50px;
    background: #95bb8c;
    box-shadow:  2px 2px 6px #7f9f77, 
             -2px -2px 6px #abd7a1;
    display: inline-block;
    padding: 10px 20px 10px 20px

}

#awesom-o img{
    width: 300px;
    margin-bottom: 20px;
}