#loginForm {
    border-radius: 50px;
    display: inline-block;
    background: #95bb8c;
    padding: 6px;
    box-shadow:  2px 2px 6px #7f9f77, 
             -2px -2px 6px #abd7a1;
}

#nameInput {
    border-radius:12px 0px 0px 12px ;
    font-family: 'Alata', sans-serif;
    box-shadow: inset 2px 2px 6px #7f9f77, 
            inset -2px -2px 6px #abd7a1;
    text-align: center;
}

#loginButton {
    border-radius: 0px 12px 12px 0px;
    margin-left: 1px;
    font-family: 'Alata', sans-serif;
    background-color: #95bb8c;
    box-shadow:  2px 2px 6px #7f9f77, 
             -2px -2px 6px #abd7a1;
    outline: none;
    cursor: pointer;
}

