#profilePage {
    background: linear-gradient(145deg, #ad5fc7, #cd71ec);
}

#logoutButton {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
    background: linear-gradient(145deg, #cd71ec, #ad5fc7);
    box-shadow:  20px 20px 60px #a35abc, 
             -20px -20px 60px #dd7afe;
    outline: none;
    cursor: pointer;
}

#backToTranslateButton {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
    background: linear-gradient(145deg, #cd71ec, #ad5fc7);
    box-shadow:  20px 20px 60px #a35abc, 
             -20px -20px 60px #dd7afe;
    outline: none;
    cursor: pointer;
}

#profilePage h1 {
    width: 36%;
    margin: auto;
    border-radius: 50px;
    background: #c06add;
    box-shadow:  2px 2px 6px #a35abc, 
             -2px -2px 6px #dd7afe;
}

#translations {
    width: 25%;
    margin: 0 auto;
}

#translationList {
    margin: auto;
    text-align: left;
}
