#translationPage {
    width: 100%;
    height: 100%;
}

#profile {
    position: relative;
    display: inline-block;
}

#translationForm {
    border-radius: 50px;
    display: inline-block;
    background: #ddb36a;
    padding: 6px;
    box-shadow:  2px 2px 6px #bc985a, 
             -2px -2px 6px #fece7a;
    margin-top: 50px;
}

#translationInput {
    border-radius:12px 0px 0px 12px ;
    font-family: 'Alata', sans-serif;
    box-shadow: inset 2px 2px 6px #bc985a, 
            inset -2px -2px 6px #fece7a;
    text-align: center;
}

#translateButton {
    border-radius: 0px 12px 12px 0px;
    margin-left: 1px;
    font-family: 'Alata', sans-serif;
    background-color: #ddb36a;
    box-shadow:  2px 2px 6px #bc985a, 
             -2px -2px 6px #fece7a;
    outline: none;
    cursor: pointer;
}

#profileButton {
    border-radius: 12px 12px 12px 12px;
    margin: 10px;
    font-family: 'Alata', sans-serif;
    background-color: #ddb36a;
    box-shadow:  2px 2px 6px #bc985a, 
             -2px -2px 6px #fece7a;
    outline: none;
    cursor: pointer;
}

#awesom-go img {
    width: 300px;
    margin-bottom: 20px;
}