#translationOutput {
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    border-radius: 50px;
    background: linear-gradient(145deg, #c7a15f, #ecc071);
    box-shadow:  2px 2px 6px #bc985a, 
             -2px -2px 6px #fece7a;
}